<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit App</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <a href="/">Home Page</a>
    <div class="index-header-div">
        <h1>Welcome to your Fruit Storage!</h1>
        <a class="add-fruit" href="/fruits/new">Add Fruit</a>
    </div>
    <ul>
        <% fruits.forEach((fruit) => { %>
           <a href="../fruits/<%= fruit._id %>" class="fruit-cards"><li><%= fruit.name %></li></a>
        <% }) %>
    </ul>
</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>